# General configuration
ROOT_DOMAIN=your.domain

# Configuration for [reverse_proxy](https://doc.traefik.io/traefik/reference/static-configuration/env/)
SUB_DOMAIN=traefik

# Configuration for [traefik_forward_auth](https://github.com/thomseddon/traefik-forward-auth?tab=readme-ov-file#configuration).
# NOTE: these are lowercase
providers_google_client_id=
providers_google_client_secret=
secret=randomly_generated_secret
whitelist=your@gmail.com
log_level=info